{#
/**
 * @file
 * Default theme implementation to display an image as a div.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 * - class: the class to apply css
 *
 * @see template_preprocess_image_as_background_formatter()
 *
 * @ingroup themeable
 */
#}

<div class="{{ css_class }}" style="{{ css }}">
    {% if url %}
        <a href="{{ url }}">&nbsp;</a>
    {% else %}
        &nbsp;
    {% endif %}
</div>
